<div class="container animated fast fadeIn">

     <!-- Imagen choreada -->
     <h1 class="banner-cucciolo" >
        <img src="/assets/img/banner-contacto.png" alt="banner contacto" width="100%" height="NaN">
    </h1>
    

    <div class="row">

        <p> Nuestra prioridad es la satisfacción de nuestros clientes, por eso trabajamos a diario para ofrecerte la mejor atención personalizada.
            Comprá fácil y al mejor precio.  </p>

    </div>

    <div class="row margen-canales-contacto"> 

        <strong><span style="color: #9b59b6;">¡Hacé tu pedido en Cucciolo!</span></strong>

    </div>

    <div class="canales-venta">

        <strong>
            <!-- <div class="item-canal">
                <i class="fas fa-phone-alt fa-2x color-cucciolo"></i>&nbsp; 0810-678-7387 (PETS)&nbsp; 
            </div> -->
            <br>
            <div class="item-canal">
                <i class="fab fa-whatsapp fa-2x color-cucciolo"></i>&nbsp; 11-6181-4200&nbsp; &nbsp; &nbsp;
            </div>
            <br>
            <div class="item-canal">
                <i class="far fa-envelope fa-2x color-cucciolo"></i>&nbsp; ventascucciolo@gmail.com
            </div>
        </strong>

    </div>

   

        <p class="detalles">
            <em>
                <span style="color: #3f3f3f;">• Horario de atención telefónica: </span>
                <span style="color: #3f3f3f;">Lunes a&nbsp;Sábados de 9 a 20 hs.</span>
            </em>
        </p>

        <p class="detalles">
            <em>
                <span style="color: #3f3f3f;">• Horario de venta online: </span>
                <span style="color: #3f3f3f;">Todos los días, 24hs. los 365 días del año.</span>
            </em>
        </p>



</div>>