<div class="container ">

    <h1 class="margen-sup animated flipInX"> Upss!.. </h1>
      <div class="animated fast fadeIn">
        <hr>

        <p> Actualmente, esta sección se encuentra en construcción. De todos modos puede realizar sus compras mediante nuestra tienda en mercadoLibre las 24 hrs 
            o comunicandose mediante whatsapp o email en los horarios indicados para realizar el pedido y pactar encargo y pago.</p>

        <p> Lamentamos las molestias ocasionadas, estamos trabajando para ofrecer un mejor servicio!</p>

        <p>Saludos cordiales, <strong>Staff de Cucciolo</strong>.</p>

          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Catalogo MercadoLibre</h5>
                  <p class="card-text">Nuestros productos en mercadoLibre. Podrás realizar tu compra las 24 hrs, los 7 días de la semana.</p>
                  <a href="https://www.mercadoLibre.com.ar" class="btn btn-primary" target="_blank">Ver mas</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Catalogo de compra directa</h5>
                  <p class="card-text">Nuestros productos para compra directa. 
                      Tan simple como elegir, y escribirnos al correo o wh para coordinar fecha de entrega y pago!</p>
                  <a  routerLink = "../productos" class="btn btn-primary">Ver mas</a>
                </div>
              </div>
            </div>
          </div>
      </div>
</div>