<div class="container margen-sup">
    <h1 class="animated flipInX"> Donde estamos </h1>
    <hr>
  <div class="animated fast fadeIn">
    <p> Estamos en Hurlingham, pero realizamos entregas personalmente por zonas cercanas o CABA/GBA con previa coordinación.</p>

    <p> De todos modos, podes utilizar nuestro servicio de envíos por Correo Argentino.</p>

    <div  align="middle">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26276.1577
      71389764!2d-58.65573660141443!3d-34.591017199600515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb925
      4c083df5%3A0x87b633dca0937bac!2sHurlingham%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1580928875298!5m2!1ses-419!2sar" 
      width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" class="map-margin"></iframe>
    </div>
  </div> 


</div>