<div class="container margin-sup">
    <h1 class="animated flipInX"> Comprar </h1>
    <hr>




    <div class="card-columns">

      <div class="card card-margins"  *ngFor="let producto of productos">
        <img class="card-img-top" src= "{{ producto.imgUrl }}" width="150px" height="350px"  alt="{ producto.nombre }">
        <div class="card-body">
          <h5 class="card-title">  {{ producto.nombre }}</h5>
          <p class="card-text"> {{producto.descripcion}} </p>
          <p class="card-text">Precio: ${{ producto.precio }}<small class="text-muted"><strong> Efectivo</strong> </small></p>
        </div>
      </div>

    </div>



</div>